<div id="<%= dom_id g_condutor_veiculo %>">
  <p>
    <strong>G condutor:</strong>
    <%= g_condutor_veiculo.g_condutor_id %>
  </p>

  <p>
    <strong>G veiculo:</strong>
    <%= g_condutor_veiculo.g_veiculo_id %>
  </p>

  <p>
    <strong>Data inicio:</strong>
    <%= g_condutor_veiculo.data_inicio %>
  </p>

</div>
