<div id="<%= dom_id t_taxa_empresa_fornecedora %>">
  <p>
    <strong>T taxa:</strong>
    <%= t_taxa_empresa_fornecedora.t_taxa_id %>
  </p>

  <p>
    <strong>F empresa fornecedora:</strong>
    <%= t_taxa_empresa_fornecedora.f_empresa_fornecedora_id %>
  </p>

</div>
