<div id="<%= dom_id a_papel_permissao %>">
  <p>
    <strong>A papel:</strong>
    <%= a_papel_permissao.a_papel_id %>
  </p>

  <p>
    <strong>A permissao:</strong>
    <%= a_papel_permissao.a_permissao_id %>
  </p>

</div>
