<div id="<%= dom_id a_usuario_historico_cargo_unidade %>">
  <p>
    <strong>User:</strong>
    <%= a_usuario_historico_cargo_unidade.user_id %>
  </p>

  <p>
    <strong>A cargo:</strong>
    <%= a_usuario_historico_cargo_unidade.a_cargo_id %>
  </p>

  <p>
    <strong>A unidade:</strong>
    <%= a_usuario_historico_cargo_unidade.a_unidade_id %>
  </p>

</div>
