<div id="<%= dom_id a_usuario_papel %>">
  <p>
    <strong>User:</strong>
    <%= a_usuario_papel.user_id %>
  </p>

  <p>
    <strong>A papel:</strong>
    <%= a_usuario_papel.a_papel_id %>
  </p>

  <p>
    <strong>A unidade:</strong>
    <%= a_usuario_papel.a_unidade_id %>
  </p>

</div>
