<div id="<%= dom_id f_empresa_servico %>">
  <p>
    <strong>F empresa fornecedora:</strong>
    <%= f_empresa_servico.f_empresa_fornecedora_id %>
  </p>

  <p>
    <strong>O categoria servico:</strong>
    <%= f_empresa_servico.o_categoria_servico_id %>
  </p>

</div>
